table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
table {
    height: 80%;
    width: 40%;
}
input[type=text],input[type=password]{
    width: 90%;
    background-color:white;
    color: black;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: normal;
    width: 90%;
    background-color:90% gray;
}
th p{
    font-size:xx-large;
    font-family: monospace;
    font-variant: small-caps;
    text-align: center;
}
input[type=button]{
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    color:black;
}