.a1{
    color:red;
    text-align:center;
    text-transform: capitalize;
    font-style: italic;
}
.a2{
    color: darkblue;
    text-align:left;
    text-transform: lowercase;
    font-style:oblique;
}
.a3{
    color: seagreen;
    text-align:right;
    text-transform: uppercase;
    font-style:normal;
}